input, input::placeholder, input[type=number]:focus {
    color: #9a0d0d;
    border-bottom-color: #9a0d0d !important;
    font-size: 1.5rem;
    text-align: center;
}

i{
    cursor: pointer;
}

.btn-pedir  {
    background-color: #9a0d0d !important;
    color: black !important;
    width: 100%;
}

.btn-pedir:hover, .btn-pedir:active, .btn-pedir:visited, .btn-pedir:focus  {
    background-color: #9a0d0d !important;
    color: black !important;
    width: 100%;
    opacity: .8;
}

.none {
    display: none !important;
}

.mi-pedido a{
    color: #9a0d0d;
    font-weight: bold;
    margin-left: 3rem;

}

.mi-pedido span{
    font-size: 3rem;
    text-align: center;
    display: block;
}

