body {
  
  font-family: sans-serif;
}

#PrimeraIMG{
  background: url("/img/iphonex-TA.jpg");
  width: 100vw;
  height: 80vh;
}

#SegundaIMG{
  background: url("/img/iphonex-X.jpg");
  width: 100vw;
  height: 80vh;
}